.home-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.add-event-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #594caf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-event-button:hover {
  background-color: #5d45a0;
}

.events-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.event-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: #f9f9f9;
}

.event-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

button {
  padding: 5px 10px;
  background-color: #6536f4;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin: 5px;
}

button:hover {
  background-color: #502fd3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal > div {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 300px;
}

.input-home {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 48%;
  margin: 5px 1%;
}
